## 1) Variáveis
#### 1.1 Numéricas
##### Uma variável numérica pode ser:
* Int (Inteiro)
* Float (Possui casas decimais)
* Complex (Complexo)

#### 1.1.1 Números inteiros.

###### Pode-se atribuir números inteiros a uma varíavel. O sinal '=' atribui um valor a variável.

In [6]:
x = 20 

print(x)

20

Com a função type(), pode-se verificar o tipo da variável em questão.

In [16]:
type(x)

int

###### É possível atribuir números inteiros a múltiplas variáveis numa só linha.

In [17]:
y, z = 10, -20

print(y,z)

10 -20

##### Se mais de um valor for atribuido a mesma variável a saída é uma tupla. A tupla será tratada mais adiante em outros notebooks.

In [3]:
w = 1,5 

print(w)
type(w)

(1, 5)

tuple

###### Existem operadores para realizar calculos aritméticos. O operador "+" representa uma soma e "-" representa uma subtração.

In [20]:
x = 20
y = 10
z = -20

print(y - z + x)

50

###### O operador "*" representa uma multiplicação e "/" representa uma divisão.

In [28]:
x = 20
y = 10
z = -15

print((y/x)*z)

-7.5

##### O operador "%" retorna o resto da divisão.

In [27]:
x = 20
y = 10
z = 5
w = 2
print(x%y)
print(z%w)

0
1

##### O operador "//" é a divisão de piso. A divisão de piso não retorna números decimais, somente inteiro.

In [33]:
x = 20
y = 11

print(x/y)
print(x//y)

1.8181818181818181
1

##### Outros operadores aritiméticos também podem ser usados com números inteiros e serão apresentados a seguir.

#### 1.1.1 Números decimais.

Os números decimais são chamados de float.

In [5]:
x = 1.5

print(x)
type(x)

1.5

float

##### O operador '**' representa um expoente.

In [6]:
x = 1.5
y = 2

print(x**y)

2.25

##### Caso queira realizar a raiz quadrada de um número, utilize o mesmo operador acima com o inverso do número do expoente.

In [7]:
x = 1.5
y = 2

print(x**(1/y))

1.224744871391589

##### Números em notação ciêntifica também são float

In [34]:
x = 1.2332e10
y = 2.1221e10

print(x+y)
type(x)

33553000000.0

float

##### Se não houver formatação na saída, o Python ira retornar o número por extenso. Para recebermos o número em notação ciêntifica, utiliza-se formatação da variãvel. A primeira parte ("{:.3e}") formatará o número. O número 3 representa a quantidade de números decimais que serão mostrados. Formatações serão devidamente explicadas em outros notebooks.

In [20]:
x = 1.2332e10
y = 2.1221e10

print("{:.1e}".format(x+y))
print("{:.2e}".format(x+y))
print("{:.3e}".format(x+y))
print("{:.4e}".format(x+y))

3.4e+10
3.36e+10
3.355e+10
3.3553e+10

#### 1.1.2 Números complexos.

##### Os números complexos são chamados de complex.

In [35]:
x = 1.23 + 5j
y = 2.42 + 2.5J

print(x+y)
print(x**y)
type(x)

(3.65+7.5j)
(0.975902527136128+1.6304745716815339j)

complex

In [31]:
x = 1.23 + 5j
y = 2.42 + 2.5J

print(x/y)
print(x*y)

(1.2783816824159124+0.7454734685786031j)
(-9.5234+15.175j)

## Atribuição de variáveis
A atribuição de variáveis segue `name = object`, onde um único sinal de igual` = `é um * operador de atribuição *

In [ ]:
a = 5

In [ ]:
a

5

Aqui atribuímos o objeto inteiro `5` ao nome da variável `a`. Vamos atribuir `a` a outra coisa:

In [ ]:
a = 10

In [ ]:
a

10

Agora você pode usar `a` no lugar do número `10`:

In [ ]:
a + a

20

## Reatribuindo variáveis
O Python permite reatribuir variáveis com uma referência ao mesmo objeto.

In [ ]:
a = a + 10

In [ ]:
a

20

Na verdade, existe um atalho para isso. O Python permite adicionar, subtrair, multiplicar e dividir números com a reatribuição usando `+=`, `-=`, `*=` e `/=`.

In [ ]:
a += 10

In [ ]:
a

30

In [ ]:
a *= 2

In [ ]:
a

60

## Determinando tipos de variáveis com `type()`
Você pode verificar que tipo de objeto é atribuído a uma variável usando a função interna `type()` do Python. Os tipos de dados comuns incluem:
* **int** (para inteiro)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (para dicionário)
* **set**
* **bool** (para boolean True/False)

In [ ]:
type(a)

int

In [ ]:
a = (1,2)

In [ ]:
type(a)

tuple

## Exercício
Isso mostra como as variáveis tornam os cálculos mais legíveis e fáceis de seguir.

In [ ]:
salario = 100

impostos = 0.1

taxas = salario*impostos

In [ ]:
taxas

10.0